<!-- Copyright © 2025 Jacob Jones. All rights reserved.
     Private, personal, non-commercial use only.
     Commercial licence: https://jacobjones.gumroad.com/l/Coffee -->

{% extends "base.html" %}
  
{% block content %}
<div class="aboutme">
    <div class="aboutme-contents">
        <h1>About Me</h1>
        <p>
            Hi, I’m Jacob K. Jones. From an early age, I have been driven to learn, create, and achieve, particularly through my interest in entrepreneurship, technology, and continuous self‑improvement. At 16, I established and operated my own small business, gaining practical experience in bookkeeping, workplace laws, management, and financial responsibility—skills that many acquire only through formal study. Although I later chose to close the business, I consider it an invaluable learning experience that strengthened my resilience, sense of accountability, and commitment to excellence.

            I built this portfolio website independently to showcase my technical abilities and ongoing professional growth. I am now pursuing a career as a Cyber Systems Analyst with the Australian Defence Force, where I aim to apply my dedication, loyalty, integrity, and problem‑solving skills to contribute meaningfully to national defence. Above all, I value time, personal development, and the pursuit of meaningful work founded on trust, discipline, and continuous learning.
        </p>
    </div>
</div>
{% endblock %}