<!-- Copyright © 2025 Jacob Jones. All rights reserved.
     Private, personal, non-commercial use only.
     Commercial licence: https://jacobjones.gumroad.com/l/Coffee -->

{% extends "base.html" %}
  
{% block content %}
<div class="aboutme">
    <div class="aboutme-contents">
        <h1>About Me</h1>
        <p>From an early age, I have been driven to learn, create, and achieve, whether through my entrepreneurial ventures or developing technical skills in web design and programming. At 16, I registered and operated my own business, which taught me practical knowledge in bookkeeping, workplace laws, management, and financial responsibility skills many gain only through formal study. Although I eventually closed the business, I see it as an invaluable learning experience that shaped my determination and resilience. More recently, I built this portfolio website entirely by myself, demonstrating my initiative and ability to solve problems independently. I am now pursuing an electrical apprenticeship to channel my dedication, work ethic, and passion for growth into building a long-term career. Above all, I value my time and believe in making the most of every moment, striving for both personal happiness and financial success.</p>
    </div>
</div>
{% endblock %}