<!-- Copyright © 2025 Jacob Jones. All rights reserved.
     Private, personal, non-commercial use only.
     Commercial licence: https://jacobjones.gumroad.com/l/Coffee -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or 'Jacob Jones' }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
</head>
<body>

    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26" fill="white"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
            <li><a href="/" class="active">Home</a><li>
            <li><a href="/about">About Me</a></li>  
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>            
        <ul class="navbar">
            <li><a href="#" class="logo">Jacob.</a><li>
            <li class="hideOnMobile"><a href="/" class="active ">Home</a><li>
            <li class="hideOnMobile"><a href="/about" class="hideOnMobile">About Me</a></li>  
            <li class="hideOnMobile"><a href="/portfolio">Portfolio</a></li>
            <li class="hideOnMobile"><a href="/contact">Contact</a></li>
            <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26" fill="white"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>© Copyright 2025 Jacob K. Jones, All Rights Reserved</p>
    </footer>

    <div class="mobile-message" style="display:none;">
     <p>This site is only available on desktop and iPad, not on mobile.</p>
    </div>

    <div class="ipad-portrait-message" style="display:none;">
    <p>Please rotate your iPad to landscape mode for the best experience.</p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/google-tag.js') }}"></script>
</body>
</html>