<!-- Copyright © 2025 Jacob Jones. All rights reserved.
     Private, personal, non-commercial use only.
     Commercial licence: https://jacobjones.gumroad.com/l/Coffee -->

{% extends "base.html" %}
  
{% block content %}
<div class="contact">
    <div class="contact-contents">
        <div class="contact-info">
            <h1>Contact Me</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="contact-form">
            <form id="contactForm" method="POST" onsubmit="return validateForm()">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required minlength="2" maxlength="50"><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" required minlength="10"></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>
{% endblock %}