{% extends "base.html" %}

{% block content %}
    <section class="home" >
        <div class="home-content">

            <h1>Hi, I am Jacob Jones</h1>
            <h3>Electrician</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fuga, ab illum eligendi aliquam temporibus facilis enim dolore ipsum velit libero a mollitia natus deleniti. Voluptates!</p>
            <div class="btn-box">
                <a href="#">Let's Talk</a>
                <a href="#">Hire Me</a>
            </div>
        </div>

        <div class="home-sci">
            <a href="#"><i class='bxl  bx-notion'></i></a>
            <a href="#"><i class='bxl bx-whatsapp'></i></a>
            <a href="https://www.linkedin.com/in/jacob-j-84664a381?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class='bxl  bx-linkedin'></i></a>
        </div>

        <span class="home-imgHover"></span>
    </section>

{% endblock %}