{% extends "base.html" %}

{% block content %}
    <section class="home" >
        <div class="home-content">
            <h1>Hi, I am Jacob Jones</h1>
            <h3>Electrician and Entrepreneur </h3>
            <p>I am an ambitious and self-motivated individual from Australia with a strong passion for success and personal growth. From a young age, I’ve explored entrepreneurship, technology, and business, gaining valuable real-world experience. I recently built this portfolio website from scratch using Python, HTML, CSS, and JavaScript. Currently, I am seeking an electrical apprenticeship to expand my skills and build a rewarding career.</p>
            <div class="btn-box">
                <a id="btn1" href="mailto:admin@jacobjones.com.au">Let's Talk</a>
                <a id="btn2" href="https://www.linkedin.com/in/jacob-j-84664a381?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">Hire Me</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="https://github.com/Linux-bootloader"><i class='bxl  bx-github'></i></a>
            <a href="https://wa.me/qr/CF76B5D3THHED1"><i class='bxl bx-whatsapp'></i></a>
            <a href="https://www.linkedin.com/in/jacob-j-84664a381?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class='bxl  bx-linkedin'></i></a>
        </div>
    </section>
{% endblock %}