name: Portfolio Docker Release

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ secrets.REGISTRY_URL }}/portfolio
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest
            type=sha

      - uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
